<div class="row">
  <button type="button" class="btn btn-primary" (click)="getProductsApi()">Show Products</button>
</div>
<div class="row">
  <div class="col">
    <table class="table table-light mt-3">
        <thead>
        <tr><th colspan="5" class="text-center">Product Details</th></tr>
        <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
        <th>Category</th>
        <th>Rating</th>
        </tr>
        </thead>
      <tbody>

      </tbody>

    </table>
  </div>
</div>
